*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    margin-bottom: 0; 
}

.body-container {
    background-image:  linear-gradient(to right, #f857a6, #ff5858); 
    margin: 0;  
    height: 100vh; 
    width: 100%; 
    display: flex; 
    justify-content: center;
}

.toDo-container {
    border-radius: 0.5em; 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color:white; 
    margin-top: 1em; 
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1em; 
    width: 50em; 
}

#filter-todo {
    border: 1px solid #bbb;  
    border-radius: 0.25em; 
    height: 2rem;
    padding: 0.5em; 
}