#todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.25em; 
}

.todo-text{
    flex-grow: 1; 
    padding-left: 1em; 
}

#complete-icon {
    border: 1px solid #ff69b4;
    color: #ff69b4;
    border-radius: 0.5em;
    display: inline-block;
    padding: 0.25em; 
    margin-left: 1em; 
}

#remove-todo-icon {
    border: 1px solid black; 
    border-radius: 0.25em;
    padding: 0.25em; 
    align-self: flex-end;
}

#input-container{
    display: flex; 
    flex-direction: column;
}
.add { 
    background-color:#ff1493;
    color: #eee; 
    border: none; 
    border-radius: 0.25em; 
    height: 2em; 
    margin-top: 1em;
}

#add-todo {
    border: 1px solid #bbb; 
    border-radius: 0.25em; 
    height: 1rem; 
    padding: 0.5em; 
    margin-top: 1em;
}

ul {
padding: 0; 
}

.completed{
    text-decoration: line-through;
}

